<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col"></div>
  <div class="mdl-cell mdl-cell--8-col">

    <div class="index-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">Introduzione</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p><a href="/">atti.desio.org</a> è una piattaforma di visualizzazione degli atti prodotti dal Comune di Desio.</p>
        <p>È stata costruita importando metadati e documenti a partire dalla piattaforma <a href="http://www.e-desio.it/ULISS-e">ULISS-E <span class="material-icons">launch</span></a> rispetto alla quale presento qui di seguito un'analisi comparativa.</p>
      </div>
    </div>

  </div>
  <div class="mdl-cell mdl-cell--2-col"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">

    <div class="index-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">Pro</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">thumb_up</i>
              maggiore stabilità di navigazione (non scade la sessione)
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">thumb_up</i>
              maggiore velocità di navigazione
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">thumb_up</i>
              possibilità di referenziare il singolo atto e di condividere l'indirizzo (ad esempio: https://atti.desio.org/delibere-di-giunta.html#49 referenzia l'atto 49)
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">thumb_up</i>
              chiunque può suggerire modifiche e aggiunte, sia al codice che ai documenti, e viene tenuta traccia dello storico di ogni contributo
            </span>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="mdl-cell mdl-cell--6-col mdl-cell--12-col-tablet">

    <div class="index-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">Contro</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">warning</i>
              non ho ancora caricato le altre categorie di atti (di Consiglio e dei Dirigenti)
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">warning</i>
              non c'è ancora una funzione di filtro e ordinamento
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">warning</i>
              per ora, gli aggiornamenti dell'elenco avvengono manualmente
            </span>
          </li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet"></div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">

    <div class="index-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">Risorse</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class="mdl-list">
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">code</i>
              Script di estrazione e database correntemente importato
            </span>
            <a href="https://github.com/olistik/atti-online"><span class="material-icons">launch</span></a>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <i class="material-icons mdl-list__item-icon">code</i>
              Struttura di questo sito web
            </span>
            <a href="https://github.com/olistik/atti-online-frontend"><span class="material-icons">launch</span></a>
          </li>
        </ul>
      </div>
    </div>

  </div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet"></div>
</div>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet"></div>
  <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-tablet">

    <div class="index-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title mdl-card--border">
        <h2 class="mdl-card__title-text">Collabora</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <p>C'è ancora tanta strada da fare, quindi chiunque volesse contribuire è ben accetto :-)</p>
        <p>Grazie a <a href="https://www.facebook.com/saramon">Sara Montrasio</a> e <a href="https://www.facebook.com/akitac">Achille Taccagni</a></p>
      </div>
    </div>

  </div>
  <div class="mdl-cell mdl-cell--2-col mdl-cell--0-col-tablet"></div>
</div>
