<!DOCTYPE html>
<html lang="it">
  <head>
    <%= partial "/partials/head" %>
  </head>
  <body class="mdl-color--grey-100 mdl-color-text--grey-700 mdl-base">
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <%= partial "partials/header" %>
      <main class="mdl-layout__content">
        <%= yield %>
        <footer class="mdl-mini-footer">
          <div class="mdl-mini-footer__right-section">
            <div class="mdl-logo">Sviluppato con ♥ da <a href="https://olisti.co">@olistik</a></div>
          </div>
        </footer>
      </main>
    </div>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <%= javascript_include_tag :application %>
  </body>
</html>
